# History files
.Rhistory
.Rapp.history

# Session Data files
.RData
*.txt
*.tar.gz
data-raw/*
!bt.exon_quant.R
!grlTCGA.R
!grlTCGA.txt
!bt.exon_quantification.txt

# RStudio files
.Rproj.user

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# Versioned files
*.orig
