# History files
.Rhistory
.Rapp.history

# Session Data files
.RData
*.txt
*.tar.gz
!blca_cnaseq.txt

# RStudio files
.Rproj.user
*.Rproj

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# Versioned files
*.orig
